/* body {
    background-color: plum;
} */
/* 
colres
#DEDEEA
#BCB9D8
#8488B5
#98BFD0
#78ACC1
#61678B 
*/

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menupegajoso {
    transition: 0.5s;
}

.menupegajoso.abajo {
    background: rgb(60 60 60) !important;
}
.menu-btn {
    color: aliceblue;
    /* transition: all ease .5s; */

}
.menu-btn:hover {
    transition: all ease .5s;
    color: white;
    background-color: rgb(40, 40, 40);
}


#presentacion {
    /* height: 85vh; */
    position: relative;
}

video {
    /* padding-top: .5rem; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text-efecto {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
  }

#descripcion {
    height: 95vh;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-image: url(assets/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    z-index: 2;
    position: relative;


}

/* #proyecto-1 {
    background-image: url('assets/google.png');
} */

#proyecto-2 {
    background-image: url('assets/blog.png');
}


.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

.proyecto-link {
    text-decoration: none;
    color: black;
}

.btn-up {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    background: rgb(60 60 60);
    color: #ffff;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}